.logo > img {
    width: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 20px;
}

.res-card {
    height: auto;
    width: 250px;
    border: 1px solid black;
    padding: 5px;
    background-color: snow;
    margin: 5px;
    overflow-wrap: anywhere;

}

.search {
    padding: 10px;
}

.res-logo {
    width: 100%;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    height: 250px;
    width: 250px;
    border: 1px solid black;
    padding: 5px;
    background-color: snow;
    margin: 5px;
    overflow-wrap: anywhere;
    animation: shimmer 1.5s infinite linear;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}